body {
  margin: 0;
  padding: 0;
  font-family: "avenir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303030 0%, #202020 25%, #101010 50%, #000000 80%);
  color: white;
}


